@use "var" as v;

@mixin transition {
    transition: all ease-in-out 0.3s;
}

@mixin floatBtn($bg-color: v.$float-btn-white, $right: 2rem, $size: 60px) {
    position: absolute;
    bottom: 2rem;
    right: $right;
    width: $size;
    height: $size;
    padding: 1rem;
    border-radius: 50%; // circle
    background: $bg-color;
    cursor: pointer;
    border: 0;
    @include transition();
}

@mixin popup($padding: 1rem 1.5rem) {
    color: black;
    position: absolute;
    z-index: 1;
    bottom: 6.5rem;
    right: 2rem;
    width: v.$popup-width;
    height: v.$popup-height;
    border-radius: v.$popup-border-radius;
    border: 1px solid v.$popup-border;
    padding: $padding;
    background-color: white;
    overflow-y: auto;
}

@mixin popup_show {
    opacity: 1;
    visibility: visible;
    @include transition();
}

@mixin popup_hide {
    visibility: hidden;
    opacity: 0;
    @include transition();
}

@mixin blue_btn {
    color: white;
    font-weight: bold;
    font-size: 14px;
    border: 0;
    border-radius: 4px;
    background-color: v.$task-newtask-btn;
    padding: 0.5rem 1rem;
}

@mixin chat_bubble($bg-color: v.$purple-chat) {
    color: v.$dark-bg-primary;
    padding: 0.5rem;
    font-size: 0.8em;
    font-weight: 300;
    background-color: $bg-color;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}