$dark-bg-primary : #333333;
$dark-bg-secondary : #4F4F4F;
$stroke-color : #F2F2F2;

$popup-width : 734px;
$popup-height : 737px;
$popup-border : #BDBDBD;
$popup-border-radius : 20px;

$float-btn-grey: #4F4F4F;
$float-btn-white: #F2F2F2;
$quick-btn: #2F80ED;
$inbox-btn: #8785FF;
$task-btn: #F8B76B;