$dark-bg-primary : #333333;
$dark-bg-secondary : #4F4F4F;
$stroke-color : #F2F2F2;
$grey-txt: #4F4F4F;
$blue-txt: #2F80ED;

$popup-width : 34rem;
$popup-height : 31rem;
$popup-border : #BDBDBD;
$popup-border-radius : 3px;

$float-btn-grey: #4F4F4F;
$float-btn-white: #F2F2F2;
$quick-btn: #2F80ED;
$inbox-btn: #8785FF;
$task-btn: #F8B76B;

$task-newtask-btn: #2F80ED;